body {
  font-family: "Angkor", serif;
  background-color: #cce3de;
}
#part1 {
}
#part2 {
}
#header1 {
  background-color: rgb(164, 195, 178);
}
h2 {
  background-color: rgb(164, 195, 178);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#li {
  float: left;
}

#li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#li a:hover {
  background-color: #111;
}
